<!-- intro page of app just tells a bit about self -->

<div id="header">

    <div id="logo">
        <!-- used this randomly chosen svg as website logo -->
        <img src="images/roomer.svg" alt="roomer website logo">
    </div>
    
</div>


<div class="container">

    <div class="main">

        <h2>We are RoomerR !!</h2>
        
        <p>We create rooms for your to-do list !!</p>

        <div class="image">
            <button ui-sref="main" class="slice">Go to Dashboard</button>
        </div>
		
		<p>Improve and optimize your work with us.</p>

    </div>

</div>